{% extends "base.html" %}

{% block content %}
    <h1>Newspaper agency "News4All"</h1>
    <p>Welcome to the best newspaper website!</p>
    <p>Our agency provides the following:</p>
    <ul>
        <li><strong>Newspapers:</strong> {{ num_newspapers }}</li>
        <li><strong>Redactors:</strong> {{ num_redactors }}</li>
        <li><strong>Topics:</strong> {{ num_topics }}</li>
    </ul>

    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

    <!-- Add an image to the page -->
    <img src="https://cakeshop.com.ua/images/6eRbfrsEzMM/h:1000/bG9jYWw/6Ly8vY2FrZXNob3AuY29tLnVhL3B1YmxpY19odG1sL3N0b3JhZ2UvYXBwL3B1YmxpYy9pbWcvcHJvZHVjdC85NDc0XzEuanBn" alt="Description of the image">
{% endblock %}