{% extends "base.html" %}

{% block content %}
  <h1>
    {{ newspaper.title }}
    <a href="{% url 'newspaper_agency:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'newspaper_agency:newspaper-update' pk=newspaper.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
    <div style="color: black;">
        <p style="font-size:2vw">Topic: ({{ newspaper.topic.name }})</p>
        <p style="font-size:1vw">{{ newspaper.content }}</p>
    </div>

  <hr>
  <ul>
    {% for redactor in newspaper.redactors.all %}
      <li>{{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
